.logger {
   &__item {
      background-color: var(--creameColor);
      padding: 20px;
      color: var(--blackColor);
      font-size: 20px;
      font-weight: 600;
      border-radius: 10px;
   }
}
