.home {
   display: flex;
   justify-content: center;
   padding-top: 150px;
   &__body {
      display: flex;
      align-items: flex-start;
   }
   &__left {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      flex-direction: column;
   }
   &__left-top {
      display: flex;
      align-items: center;
      gap: 10px;
   }
   &__right{
      display: flex;
      flex-direction: column;
      gap: 20px;
   }
}
