.home {
   display: flex;
   justify-content: center;
   padding-top: 150px;
   &__body {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
   }
   &__left {
      display: flex;
      align-items: flex-start;
      gap: 50px;
   }
   &__left-top {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      flex-direction: column;
   }
}
