@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import "./reset.scss";

body {
   font-family: "Montserrat", sans-serif;
   font-weight: 300;
   font-size: 14px;
   background-color: var(--whiteColor);
   color: var(--whiteColor);
}

body {
   --main-bg: #1e2538;
   --blueColor: blue;
   --whiteColor: white;
   --creameColor: bisque;
   --blackColor: black;
}
